.filtro{
    display: flex;
    flex-direction: column;
    border: 1px solid #291616;
    border-radius: 5px;
    background-image: url(../../images/bACKGROUNS\ 1.png);
    width: 15.3125rem;
    align-items: start;
    padding-left: 0.625rem;
    height: 40.625rem;
    justify-content: space-around;
    
}

.filtro-marcas {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1.875rem;
}

.filtro-marcas .btn-marca{
    padding-bottom: 0.3125rem;
}