.title-primary-color {
	color: #CE5F20;
}

.bg-primary-color {
    background-color: #291616 !important;
}

.text-wite {
	color: #FFFF;
}

#btn-primary {
	background-color: #CE5F20;
	color: #FFFF;
	font-size: 16px;
}
